<%= form_for(@concession) do |f| %>
  <% if @concession.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concession.errors.count, "error") %> prohibited this concession from being saved:</h2>

      <ul>
      <% @concession.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :concession_id %><br />
    <%= f.number_field :concession_id %>
  </div>
  <div class="field">
    <%= f.label :quantity_planned %><br />
    <%= f.number_field :quantity_planned %>
  </div>
  <div class="field">
    <%= f.label :quantity_procured %><br />
    <%= f.number_field :quantity_procured %>
  </div>
  <div class="field">
    <%= f.label :weight_loss %><br />
    <%= f.number_field :weight_loss %>
  </div>
  <div class="field">
    <%= f.label :input_delivered %><br />
    <%= f.number_field :input_delivered %>
  </div>
  <div class="field">
    <%= f.label :input_recovered %><br />
    <%= f.number_field :input_recovered %>
  </div>
  <div class="field">
    <%= f.label :input_non_recovery %><br />
    <%= f.number_field :input_non_recovery %>
  </div>
  <div class="field">
    <%= f.label :jute_bags_given %><br />
    <%= f.number_field :jute_bags_given %>
  </div>
  <div class="field">
    <%= f.label :bags_received %><br />
    <%= f.number_field :bags_received %>
  </div>
  <div class="field">
    <%= f.label :bags_received_empty %><br />
    <%= f.number_field :bags_received_empty %>
  </div>
  <div class="field">
    <%= f.label :transport_expense %><br />
    <%= f.number_field :transport_expense %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
